@model EasyShoping.Model.LocationModel
@{
    ViewBag.Title = "Create location ";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@section pageName {
      <li class="active">@ViewBag.Title</li>
}
@using (@Html.BeginForm("Create", "Location", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal validate" }))
{
    
<div class="block">
    @Html.ValidationSummary(false)
                <h6 class="heading-hr"><i class="icon-user-plus3"></i>@ViewBag.Title:</h6>
                <div class="block-inner">
                  <div class="form-group">
                    <div class="row">
                      <div class="col-md-6">
                        <label>Name</label>
                      
                        @Html.TextBoxFor(m=>m.LocationName, new { @class= "required form-control"})
                          @Html.ValidationMessageFor(m => m.LocationName)
                      </div>
                      <div class="col-md-6">
                        <label>Location Code</label>
                        @Html.TextBoxFor(m=>m.LocationCode, new { @class= "form-control"})
                      </div>
                    </div>
                  </div>
                  
                </div>
               
                <div class="text-right">
                    @Html.LabelFor(m => m.IsActive) 
                     @Html.CheckBoxFor(m => m.IsActive, new { @class= "styled"})
                  <input type="reset" value="Cancel" onclick="goBack();" class="btn btn-default">
                  <input type="submit" value="Save" class="btn btn-primary">
                </div>
              </div>
}
